.center-alignment{
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}
.justify-aligment{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.voucher{
    width: 100%;
    height: auto;
    background-color: gainsboro;
}
.payment-method{
    width: 100%;
    height: auto;
    padding: 10px;
    background-color: gainsboro;
    
}
.payment-icon{
    cursor: pointer;
    margin: 5px;
    padding: 10px;
}
.icon-red{
    color: red;
}
.row-gap{
    margin-top: 10px;
}
.payment-icon:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-box-shadow:0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-width{
    width: 100%;
}
.default-distance{
    margin-left: 5px;
}