<div class="col-md-12">
  <div class="row ">
    <div class="col-md-3"></div>
    <div class="col-md-6" style="padding: 20px">
      <div class="row center-alignment">
        <img width="80px" height="80px" src="../../assets/logo.png" alt="logo">
        <h1>Payment Wall</h1>
      </div>
      <div class="row">
        <div class="voucher">
          <br>
          <div class="col-md-12">
            Price: <b>{{price}}{{currencyUnit}}</b>
          </div>
          <div class="col-md-12 space">
            <input style="width: 80%" type="text" class="form-control" placeholder="place your voucher code">
            <button class="btn btn-warning" style="margin-left:20px">Redeem</button>
          </div>
          <br>
        </div>
      </div>
      <div class="row">
        <h3>Please select your payment method</h3>
      </div>
      <div class="row">
        <label for="country"><i>Your country <span class="icon-red">*</span> </i></label>
      </div>
      <div class="row">
        <ng-select style="width: 100%" [items]="countryList" bindLabel="name" class="custom" [multiple]="false"
                  [closeOnSelect]="true" [searchable]="true" loadingText="Loading..." placeHolder="Select your country"
                  [ngModelOptions]="{standalone: true}" (change)="getData(); flag=''" [virtualScroll]="true"
                  [(ngModel)]="selectedCountry" [addTag]="false">
        </ng-select>
      </div>
      <div class="row row-gap">
        <div class="payment-method">
          <div class="row justify-aligment">
            <ng-container *ngFor="let item of paymendMethod">
              <div [style.background-color]="item.id == flag ? selectedMethod : ''" class="payment-icon">
                <a (click)="selectedMethod = '#ffc107'; flag=item.id"><img src="{{item.img_url}}"
                    alt="{{item.name}}"></a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <ng-template #B>
        <div class="row">
          <p><i>Not supported country</i></p>
        </div>
      </ng-template>

      <div *ngIf="paymendMethod && paymendMethod.length > 0 else B" class="row">
        <div *ngIf="flag" class="card card-width">
          <form [formGroup]="paymentForm" (ngSubmit)="payment()">
            <div class="card-header">
              <p><b>Credit card</b></p>
              <p><span class="badge badge-info">{{flag}}</span> is selected</p>
            </div>
            <div class="card-body">
              <h4>Amount: <span class="badge badge-secondary"><b>{{price}}{{currencyUnit}}</b></span></h4>
              <div class="row row-gap">
                <div class="col-md-4">
                  <label for="card-holder">Card holder name<span class="icon-red">*</span>:</label>
                </div>
                <div class="col-md-8">
                  <input  required type="text" formControlName="cardName" maxlength="250"
                          oninput="this.value = this.value.replace(/[^A-Za-z\s]/g, '').replace(/(\..*)\./g, '$1');"
                          title="Only allow alphabet character" 
                          class="form-control" 
                          placeholder="card holder name">
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-8">
                  <p *ngIf="error.errorName" class="icon-red">{{error.errorName}}</p>
                </div>
              </div>
              <div class="row row-gap">
                <div class="col-md-4">
                  <label for="card-holder">Card number<span class="icon-red">*</span>:</label>
                </div>
                <div class="col-md-8">
                  <input  required type="text" (change)="checkCreditCard(paymentForm.value.cardNumber)"
                          formControlName="cardNumber"
                          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" maxlength="16"
                          class="form-control">
                </div>
                <div class="col-md-4"></div>
                <div class="col-md-8">
                  <p *ngIf="error.errorCardNumber" class="icon-red">{{error.errorCardNumber}}</p>
                </div>
              </div>
              <div class="row row-gap">
                <div class="col-md-4">
                  <label for="card-holder">Expiration date<span class="icon-red">*</span>:</label>
                </div>
                <div class="col-md-8">
                  <div class="row" style="padding-left: inherit">
                    <input  required formControlName="cardMonth" class="form-control" style="width: 20%" type="text"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" 
                            maxlength="2"
                            [min]="1" [max]="12" 
                            placeholder="mm">
                    <span class="default-distance">/</span> 
                    <input  required formControlName="cardYear"
                            class="form-control default-distance"
                            oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');" maxlength="2"
                            [min]="19"  style="width: 20%" placeholder="yy" type="text" />
                  </div>
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-8">
                  <p *ngIf="error.errorDate" class="icon-red">{{error.errorDate}}</p>
                </div>
              </div>
              <div class="row row-gap">
                <div class="col-md-4">
                  <label for="card-holder">CVV2(CVV)<span class="icon-red">*</span>:</label>
                </div>
                <div class="col-md-8">
                  <input  required formControlName="cardCVV" 
                          oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*)\./g, '$1');"
                          class="form-control" style="width: 20%" type="text" maxlength="3">
                </div>
                <div class="col-md-4"></div>

                <div class="col-md-8">
                  <p *ngIf="error.errorCVV" class="icon-red">{{error.errorCVV}}</p>
                </div>
              </div>
            </div>
            <div class="card-footer center-alignment">
              <button type="submit" class="btn btn-warning" (click)="payment(payment)"
                      [disabled]="paymentForm.invalid">Pay 
                      <span class="badge badge-light"><b>{{price}}{{currencyUnit}}</b></span>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>